@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600; 700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: white;
    padding: 20px;
    font-family: 'Karla', sans-serif;
    font-size: 1.3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height: 65px;
    flex-shrink: 0;
    padding: 15px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.nav-logo {
    display: flex;
    align-items: center;
}

nav p {
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-logo img {
    transform: scaleX(-1);
    width: 31.306px;
    height: 26.218px;
}

.nav-logo p {
    width: 124.792px;
    color: #FFF;
    font-family: Karla;
    font-size: 20.748px;
    font-weight: 700;
    letter-spacing: -2.075px;
}

.section-entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    gap: 20px;
    padding: 50px;
}

.div-entrada {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.entrada-input {
    width: 230px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    padding: 10px;
    font-size: 12px;
}

.meme-btn {
    width: 477px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
}

.meme-btn {
    color: #FFF;
}



.img-aleatoria {
    margin-top: 30px;
    flex-shrink: 0;
}